version: '3.8'

services:
  xai-lab:
    build: .
    container_name: xai_container

    volumes:
      - /mnt/c/PythonProjects/Knowledge-Injection-XAI:/app
      - xai_cache:/root/.cache/huggingface

    working_dir: /app

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    shm_size: '8gb'

    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONDONTWRITEBYTECODE=1

    stdin_open: true
    tty: true
    command: tail -f /dev/null

volumes:
  xai_cache: